.new-task-form {
  display: flex;
}

input,
button {
  appearance: none;
  border: none;
  outline: none;
  background: none;
}

.new-task-input {
  flex: 1 1 0%;
  background-color: blanchedalmond;
  padding: 1rem;
  border-radius: 1rem;
  margin-right: 1rem;
  color: var(--light);
  font-size: 1.25rem;
}

.new-task-input::placeholder {
  color: var(--black);
}

.new-task-submit {
  color: var(--pint);
  font-size: 1.25rem;
  font-weight: 700;
  background-image: linear-gradient(to right, var(--pink), var(--purple));
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  transition: 0.4s;
}

.new-task-submit:hover {
  opacity: 0.8;
}

.new-taks-submit:active {
  opacity: 0.67;
}

.submitButton {
  background-color: aquamarine;
  border-radius: 10px;
  color: blue;
}
